<h3>New Task</h3>
<form action="/new" method="POST" id="task_form">
	<input type="text" name="name" placeholder="Task Name:">
  <br></br>
  <br>
  <textarea name="content" rows="10" cols="40" form="task_form" placeholder="Task Content:"></textarea>
  <br>
	<input type="submit" value="submit">
</form>

