<br>
<% if flash.has?(:message) %>
  <div style="color:red;">
    <%= flash[:message] %>
  </div>
<% end %>
<h2> Edit Task </h2>
<form method="post" id="task_form" action="/tasks/<%=@task.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value=<%=@task.name%>>
  <br>
  <textarea name="content" rows="10" cols="40" form="task_form"><%=@task.content%></textarea>
  <br>
  <input type="submit" value="submit">
</form>
