<% if flash.has?(:message) %>
  <div style="color:red;">
    <%= flash[:message] %>
  </div>
<% end %>

<h3>Welcome</h3>
<p>Please Login or Sign Up:</p>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="User name:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form>
<br>
<form method="get" action="/signup">
  <button type="submit">Sign Up</button>
</form>
